@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
  --primary-color: #2CB1E7;
  --light1-accent-color: #737D74 ;
  --light2-accent-color: #F4F3F3 ;
  --dark1-accent-color: #68696B;
  --dark2-accent-color: #2D3954;
  --dark3-accent-color: #1D2331;
  --heading-font: 'Poppins', sans-serif;
  --paragraph-font:  'Poppins', sans-serif;
}
